<header class="header">
    <div class="header_title">
        <div class="header_title_icon"><i class="fa-solid fa-book-open-reader"></i></div>
        <div>HouseBook</div>
    </div>
    <div class="header_link">
        <a *ngIf="!miUserService.logged" class="header_link_a" routerLink="/">Home</a>
        <a *ngIf="!miUserService.logged" class="header_link_a" routerLink="/login">Login</a>
        <a *ngIf="!miUserService.logged" class="header_link_a" routerLink="/register">Register</a>
        <a *ngIf="miUserService.logged" class="header_link_a" routerLink="/books">Books</a>
        <a *ngIf="miUserService.logged" class="header_link_a" routerLink="/profile">Profile</a>
    </div>
    <!-- <div #esFalso class="header_link">
        <ng-template #true>
           
        </ng-template>
    </div> -->
</header>