<footer class="footer">
    <div class="footer_div">
        <a class="footer_button"><i class="fa-brands fa-facebook-square"></i></a>
        <a class="footer_button"><i class="fa-brands fa-instagram-square"></i></a>
        <a class="footer_button"><i class="fa-brands fa-twitter-square"></i></a>
        <a class="footer_button"><i class="fa-brands fa-linkedin"></i></a>
        <a class="footer_button"><i class="fa-brands fa-github-square"></i></a>
    </div>
    <div class="footer_text">HouseBook all rights reserved 2022</div>
</footer>